adabelief-tf
dataclasses-json
GitPython
imageio
nptyping
opencv-python-headless
paiargparse==1.0.6
pandas
pillow
prettytable
python-Levenshtein
pytest
scikit-image
tensorflow>=2.4.0,<2.5.0
tensorflow_addons
tensorflow-datasets~=3.0.0
tqdm
typeguard
xlrd==1.2.0
